<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome, reset your password with new one!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Please Enter Your Password to reset it</small>
          </div>
          <form role="form" (ngSubmit)="resetPassword()"
                novalidate [formGroup]="resetPasswordDto">
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input formControlName="newPassword" class="form-control" placeholder="New Password" type="password">
              </div>
              <div
                *ngIf="(controls['newPassword'].invalid && controls['newPassword'].touched) || controls['newPassword'].dirty">
                <small *ngIf="controls['newPassword'].errors?.required" class="text-danger">NewPassword is
                  required</small>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"
                       type="password">
              </div>
              <div
                *ngIf="(controls['confirmPassword'].invalid && controls['confirmPassword'].touched) || controls['confirmPassword'].dirty">
                <small *ngIf="controls['confirmPassword'].errors?.required" class="text-danger">ConfirmPassword is
                  required</small>
                <small *ngIf="controls['confirmPassword'].errors?.mustMatch" class="text-danger">Passwords does not
                  match!!</small>
              </div>
            </div>
            <div class="text-center">
              <button [disabled]="resetPasswordDto.invalid" type="submit" class="btn btn-primary my-4">Reset</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #errorTemplate>
  <app-show-error-dialog
    [error]="helperService.error"></app-show-error-dialog>
</ng-template>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large" color="#fff" type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">
    {{helperService.state}}
  </p>
</ngx-spinner>

