<div class="header bg-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <p class=" text-white display-1">
        Notifications
      </p>
      <p class="text-white text-lg">
        start pushing notifications to the subscribers to notify them the latest news of our application
      </p>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="card row ml-1 mr-1 mt-5 mb-5">
    <div class="card-header">
        <span class="display-4">
          Notifications
        </span>
      <button (click)="helperService.openDialog(creationTemp)" class="btn float-right btn-primary ">
        New Notification &nbsp; <i class="fas fa-plus-circle"></i>
      </button>
    </div>
    <div class="card-body">
      <div *ngIf="Notifications && Notifications.length === 0" class="row justify-content-center mt-3 mb-3">
        <h4>
          No Notifications Available!
        </h4>
      </div>
      <mat-form-field *ngIf="Notifications && Notifications.length > 0" class="example-full-width">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="helperService.applyFilter(helperService.notificationsDataSource,$event)"
               placeholder="Enter Notification Name">
      </mat-form-field>
      <div class="mat-elevation-z8" *ngIf="Notifications && Notifications.length > 0">
        <table mat-table [dataSource]="helperService.notificationsDataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Id</th>
            <td mat-cell *matCellDef="let notification"> {{notification.id}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let notification"> {{notification.title}} </td>
          </ng-container>

          <ng-container matColumnDef="body">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Content</th>
            <td mat-cell *matCellDef="let notification"> {{notification.body}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 300]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

  <div class="card row ml-1 mr-1 mt-5 mb-5">
    <div class="card-header">
        <span class="display-4">
          Subscribers
        </span>
    </div>
    <div class="card-body">
      <div *ngIf="Subscribers && Subscribers.length === 0" class="row justify-content-center mt-3 mb-3">
        <h4>
          No Subscribers Available!
        </h4>
      </div>
      <table class="table" *ngIf="Subscribers && Subscribers.length >= 1">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subscriber of Subscribers ; let i = index">
          <td>{{subscriber.id}}</td>
          <td>
            {{subscriber.email}}
          </td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu>

            </mat-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card row ml-1 mr-1 mt-5 mb-5">

  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large" color="#fff" type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">
    {{helperService.state}}
  </p>
</ngx-spinner>
<ng-template #errorTemplate>
  <app-show-error-dialog [error]="helperService.error"></app-show-error-dialog>
</ng-template>
<ng-template #creationTemp>
  <app-push-notification [store]="store" [helperService]="helperService" (change)="refreshNotifications()"
                         [gdService]="gdService"></app-push-notification>
</ng-template>
