<h2 mat-dialog-title>
  Remove Sub Category tags
</h2>
<mat-dialog-content class="mat-typography" style="width: 700px; height: auto">
  <div class="row mt-1 mb-1 p-2">
    <mat-form-field class="example-chip-list">
      <mat-chip-list #tagsList aria-label="Tags">
        <mat-chip *ngFor="let tag of transitionSubCategoryTags" [selectable]="helperService.selectable"
                  [removable]="helperService.removable" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="helperService.removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New Tag..."
               [matChipInputFor]="tagsList"
               [matAutocomplete]="autoName"
               [matChipInputSeparatorKeyCodes]="helperService.separatorKeysCodes"
               [matChipInputAddOnBlur]="helperService.addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    <mat-autocomplete #autoName="matAutocomplete">
      <mat-option *ngFor="let subCategoryTag of subCategoryTags ; let i = index"
                  [value]="subCategoryTag.name">
        <p (click)="pushTag(subCategoryTag)">{{subCategoryTag.name}}</p>
      </mat-option>
    </mat-autocomplete>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [disabled]="transitionSubCategoryTags.length < 1 || helperService.startPushing" (click)="removeSubCategoryTags()" mat-raised-button
          color="primary"
          style="width: 120px;" type="button">
    Remove
  </button>
  <button [disabled]="helperService.startPushing" (click)="helperService.hideDialog()" mat-raised-button color="warn"
          style="width: 120px;"
          class="ml-2" type="button">
    Close
  </button>
</mat-dialog-actions>
<ng-template #errorTemplate>
  <app-show-error-dialog [error]="helperService.error"></app-show-error-dialog>
</ng-template>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large" color="#fff" type="ball-clip-rotate"
>
  <p style="font-size: 20px; color: white">
    {{helperService.state}}
  </p>
</ngx-spinner>

