<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body" *ngIf="GlobalData">
      <div class="row">
        <div class="col-xl-12">
          <p class=" text-white display-1">
            Dashboard
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Users</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.users}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Invoices</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.invoices}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-file-invoice"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Sales</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.sales}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-coins"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Payments</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.payments}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fab fa-paypal"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Orders</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.orders}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="far fa-dot-circle"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Products</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.products}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fab fa-product-hunt"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Categories</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.categories}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-th-list"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Sub Categories</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.subCategories}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-stream"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Carts</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.carts}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Profiles</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.profiles}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="far fa-address-card"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase mb-0">Total Tags</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.tags}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-tags"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase  mb-0">Total Files</h4>
                  <span class="h2 font-weight-bold mb-0">{{GlobalData.files}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="far fa-file-image"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7 mb-3" *ngIf="!!gdService.User && gdService.isSuperAdmin()">
  <div class="row justify-content-center">
    <div class="col-xl-10 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row justify-content-center">
            <h1 class="text-uppercase text-muted ls-1 mb-1">Activities</h1>
          </div>
        </div>
        <div class="card-body scroll">
          <div *ngIf="!Activities || Activities.length ===0" class="row justify-content-center mt-3 mb-3">
            <h4>
              No Activities Until Now
            </h4>
          </div>
          <table class="table " *ngIf="Activities && Activities.length >= 1">
            <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Action Type</th>
              <th scope="col">User</th>
              <th scope="col">Time</th>
              <th scope="col">Activity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of Activities; let i = index">
              <td>{{activity.id}}</td>
              <td>{{activity.action}}</td>
              <td>{{activity.user}}</td>
              <td>
                {{activity.time | date: 'short'}}
              </td>
              <td>
                <p>{{activity.description}}</p>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large" color="#fff" type="timer"
>
  <p style="font-size: 20px; color: white">
    {{helperService.state}}
  </p>
</ngx-spinner>
